<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAu5x01rjDABrWPEw7od9dOLDUSIx2Jo7g</string>
	<key>GCM_SENDER_ID</key>
	<string>614588481077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.burganTask.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>burgan-task</string>
	<key>STORAGE_BUCKET</key>
	<string>burgan-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614588481077:ios:aa97366ce8138ee75fbb7c</string>
</dict>
</plist>